Repository Atos20/indecision-maker-server, pull requests merged in 2020-10, with the labels that each got.

#7 First tests ng
  .github/pull_request_template.md
  app.js
  app.test.js
  package-lock.json
  package.json
  yarn.lock
Labels: Test

#13 Podcast migration set up om
  db/migrations/20190314115620_initial.js
  db/migrations/20201028150700_podcasts.js
  db/seeds/dev/podcasts.js
  db/seeds/dev/students.js
  itunesCall.js
  knexfile.js
  package-lock.json
  package.json
Labels: data population, iteration 1

#19 Consolidate api calls
  apiCalls.js
  db/seeds/dev/cardgames.js
  db/seeds/dev/music.js
  db/seeds/dev/podcasts.js
  itunesCall.js
  knexfile.js
Labels: configuration, iteration 1

#21 Express ng
  app.js
  app.test.js
  db/data/movies.js
  db/migrations/20201028150700_podcasts.js
  db/migrations/20201028151313_initial.js
  db/migrations/20201028170723_movies.js
  db/migrations/20201028195920_music.js
  db/migrations/20201028220558_board_game.js
  db/seeds/dev/cardgames.js
  db/seeds/dev/moviesSeed.js
  db/seeds/test/students.js
  package-lock.json
  server.js
  students.js
  yarn.lock
Labels: Test, documentation
